.cdk/
Lst/
Obj/
*.mk
*.bat
*.txt
generated/
cdk/script/*
!cdk/script/before_build.sh
misc/
*.elf
*.map
out/
yoc_sdk/
.gdbinit
.sconsign.dblite
mkflash.sh
gdbinitflash
cdkinitflash
gdbinit
yoc.*
mkflash.sh