/csi
out
.vscode
.gdbinit
yoc.asm
yoc.bin
yoc.elf
yoc.map
yoc.smap
yoc.s
yoc_sdk
**/generated
out
gdbinitflash
cdkinitflash
gdbinit

.DS_Store
id_rsa
id_rsa.pub
Thumbs.db
db.json
.idea
**/image_mtb
**/*.zip
**/prim
**/all.bin
**/*.pyc
**/mtrace.output
**/*.o
**/*.d
**/*.dblite
node_modules
**/*.egg-info
**/*.swp
.components.db

cdkws.mk
*.modify.bat
project.tags
project.cdkws
**/.cdk
**/Obj
**/Lst
fota_demo*.mk
fota_demo*.txt
__workspace_pack__

data/mnt/D/data/firmware
data/resources/**
!data/resources/local_packages.json
!resources/presetpkgs
*footprint.xlsx

mkflash.sh
gdbinitflash
cdkinitflash
gdbinit
