scripts/release/__pycache__
*.o
*bin
*.swp
*.swo
tags
docs/api_doc
scripts/cppcheck_res.txt
scripts/built_in_font/lv_font_*
cscope.out
*.map
out
*.elf
*.db
*.dblite
*.dump
generated
yoc_sdk
Lst
Obj
ch2601_marquee_demo.mk
ch2601_marquee_demo.txt
.cdk
cdkws.mk
ch2601_gui_demo.mk
ch2601_gui_demo.txt
project.cdkws
