.vscode
.gdbinit
yoc.asm
yoc.bin
yoc.elf
yoc.map
yoc.smap
yoc.s
yoc_sdk
**/generated
out
mkflash.sh
gdbinitflash
cdkinitflash
gdbinit

.DS_Store
id_rsa
id_rsa.pub
Thumbs.db
db.json
.idea
**/image_mtb
**/*.zip
**/prim
**/all.bin
**/*.pyc
**/mtrace.output
**/*.o
**/*.d
**/*.dblite
node_modules
**/*.egg-info
**/*.swp
.components.db

cdkws.mk
*.modify.bat
*.cdkws
project.tags
project.cdkws
**/.cdk
**/Obj
**/Lst
smart_speaker*.mk
smart_speaker*.txt
__workspace_pack__

data/resources/fonts
data/resources/framework
data/resources/cfg.json
data/resources/cfg_render.json
data/resources/cfg_devtool.json
data/resources/env.json
data/resources/local_deviceinfo.json
*footprint.xlsx
.defsdk