# LWIP交付测试结果规范



### 1.API测试

请提交如下图所示的截图，22条case全通过的。

![image-20210112220625058](image-20210112220625058.png)



### 2.Solution测试

请提交DUT分别作为tcp server、udp server、tcp client、udp client的四张打流截图，如下图这样的。

tcp server:

![image-20201116184151277](image-20201116184151277.png)



udp server:

![image-20201116184338072](image-20201116184338072.png)



tcp client:

![image-20201116185252130](image-20201116185252130.png)



udp client:

![image-20201116185556309](image-20201116185556309.png)