# NETMGR交付测试结果规范



### 1.API测试

请提交如下图所示的截图，57条case全通过的。

 ![](api_case_result.png)



### 2.function测试

请提交7张截图，如下:

wifi init:

 ![](wifi_init.png)



wifi config:

 ![](wifi_config.png)



wifi connect with dhcp and reset:

 ![](wifi_connect_dhcp.png)



wifi connect with static and reset:

 ![](wifi_connect_static.png)



wifi info:

 ![](wifi_info.png)



wifi disconnect:

 ![](wifi_disconn.png)



wifi deinit:

 ![](wifi_deinit.png)