.cdk/
Lst/
Obj/
*.mk
*.bat
*.txt
generated/
cdk/script/*
!cdk/script/before_build.sh
misc/
*.elf
*.map
out/
yoc_sdk/
.sconsign.dblite
script/
mkflash.sh
gdbinitflash
cdkinitflash
gdbinit
yoc.*
mkflash.sh